<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <context-param>
        <param-name>ace.ims.DigestProvider.0</param-name>
        <param-value>sun.security.provider.Sun</param-value>
    </context-param>
    <context-param>
        <param-name>ace.ims.DigestProvider.1</param-name>
        <param-value>org.bouncycastle.jce.provider.BouncyCastleProvider</param-value>
    </context-param>
    <context-param>
        <param-name>ace.ims.DigestProvider.2</param-name>
        <param-value>edu.umiacs.ace.digest.debug.DebugProvider</param-value>
    </context-param>
    <context-param>
        <param-name>ace.ims.publisher.email</param-name>
        <param-value>edu.umiacs.ace.ims.processor.EmailPublisher</param-value>
    </context-param>
    <!--<context-param>
        <param-name>ace.ims.publisher.googleGroups.address</param-name>
        <param-value>ace-ims-witness@googlegroups.com</param-value>
    </context-param>
    <context-param>
        <param-name>ace.ims.publisher.googleGroups.server</param-name>
        <param-value>smtp.umiacs.umd.edu</param-value>
    </context-param>
    <context-param>
        <param-name>ace.ims.publisher.googleGroups.from</param-name>
        <param-value>naraapp@umiacs.umd.edu</param-value>
    </context-param>
    <context-param>
        <param-name>ace.ims.publisher.umiacsList</param-name>
        <param-value>edu.umiacs.ace.ims.processor.EmailPublisher</param-value>
    </context-param>
    <context-param>
        <param-name>ace.ims.publisher.umiacsList.address</param-name>
        <param-value>ims-witness@umiacs.umd.edu</param-value>
    </context-param>
    <context-param>
        <param-name>ace.ims.publisher.umiacsList.server</param-name>
        <param-value>smtp.umiacs.umd.edu</param-value>
    </context-param>
    <context-param>
        <param-name>ace.ims.publisher.umiacsList.from</param-name>
        <param-value>naraapp@umiacs.umd.edu</param-value>
    </context-param> -->
    <context-param>
        <param-name>org.quartz.scheduler.instanceName</param-name>
        <param-value>WitnessScheduler</param-value>
    </context-param>
    <context-param>
        <param-name>org.quartz.scheduler.instanceId</param-name>
        <param-value>AUTO</param-value>
    </context-param>
    <context-param>
        <param-name>org.quartz.scheduler.rmi.export</param-name>
        <param-value>false</param-value>
    </context-param>
    <context-param>
        <param-name>org.quartz.scheduler.rmi.proxy</param-name>
        <param-value>false</param-value>
    </context-param>
    <context-param>
        <param-name>org.quartz.threadPool.class</param-name>
        <param-value>org.quartz.simpl.SimpleThreadPool</param-value>
    </context-param>
    <context-param>
        <param-name>org.quartz.threadPool.threadCount</param-name>
        <param-value>3</param-value>
    </context-param>
    <context-param>
        <param-name>org.quartz.jobStore.class</param-name>
        <param-value>org.quartz.simpl.RAMJobStore</param-value>
    </context-param>
    <listener>
        <description>ServletContextListener</description>
        <listener-class>edu.umiacs.ace.ims.ApplicationListener</listener-class>
    </listener>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <!--
    <ejb-local-ref>
        <ejb-ref-name>RoundBean</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>edu.umiacs.ace.ims.round.RoundLocal</local>
        <ejb-link>edu.umiacs.ace_ace-ims-ejb_ejb_1.7.1-SNAPSHOT/RoundBean</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>TokenStoreBean</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>edu.umiacs.ace.ims.store.TokenStoreLocal</local>
        <ejb-link>edu.umiacs.ace_ace-ims-ejb_ejb_1.7.1-SNAPSHOT/TokenStoreBean</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>TokenClassBean</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>edu.umiacs.ace.ims.tokenclass.TokenClassLocal</local>
        <ejb-link>edu.umiacs.ace_ace-ims-ejb_ejb_1.7.1-SNAPSHOT/TokenClassBean</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>WitnessBean</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>edu.umiacs.ace.ims.witness.WitnessLocal</local>
        <ejb-link>edu.umiacs.ace_ace-ims-ejb_ejb_1.7.1-SNAPSHOT/WitnessBean</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>MailPublisherBean</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>edu.umiacs.ace.ims.system.MailPublisherLocal</local>
        <ejb-link>edu.umiacs.ace_ace-ims-ejb_ejb_1.7.1-SNAPSHOT/MailPublisherBean</ejb-link>
    </ejb-local-ref>
    -->
</web-app>
