<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <context-param>
        <description>Parameter used by replication startup listener to check replicas for new files every specified number of days</description>
        <param-name>checkPeriod</param-name>
        <param-value>5</param-value>
    </context-param>
     <filter>
        <filter-name>PersistenceFilter</filter-name>
        <filter-class>edu.umiacs.ace.rest.PersistenceServiceFilter</filter-class>
    </filter>

    <filter>
        <description>Force utf8 as the charset</description>
        <filter-name>CharsetFilter</filter-name>
        <filter-class>edu.umiacs.ace.rest.CharsetFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>CharsetFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>PersistenceFilter</filter-name>
        <url-pattern>/rest/*</url-pattern>
    </filter-mapping>

    <listener>
        <description>Settings migration to db</description>
        <listener-class>edu.umiacs.ace.monitor.settings.SettingsMigrationContextListener</listener-class>
    </listener>
    <listener>
        <description>listener to configure log4j properties</description>
        <listener-class>edu.umiacs.ace.util.LogContextListener</listener-class>
    </listener>
    <listener>
        <description>listener to close factory on shutdown</description>
        <listener-class>edu.umiacs.ace.util.PersistenceContextListener</listener-class>
    </listener>
    
    <listener>
        <listener-class>edu.umiacs.ace.monitor.audit.AuditConfigurationContext</listener-class>
    </listener>
    <!-- migration, initialization listeners -->
    <listener>
        <listener-class>edu.umiacs.ace.monitor.users.DefaultAccountContextListener</listener-class>
    </listener>
    <listener>
        <description>ServletContextListener</description>
        <listener-class>edu.umiacs.ace.monitor.core.TokenMigrationContextListener</listener-class>
    </listener>
    <listener>
        <description>ServletContextListener</description>
        <listener-class>edu.umiacs.ace.monitor.core.CollectionSettingsMigrationListener</listener-class>
    </listener>
    <!-- normal startup listeners, schedulers, etc -->
    <listener>
        <listener-class>edu.umiacs.ace.util.CollectionThreadPoolContextListener</listener-class>
    </listener>
    <listener>
        <listener-class>edu.umiacs.ace.monitor.access.CollectionCountContext</listener-class>
    </listener>
    <listener>
        <description>HttpSessionListener</description>
        <listener-class>edu.umiacs.ace.monitor.users.UserSessionTracker</listener-class>
    </listener>
    <listener>
        <description>Report Summary generation, starts up quartz scheduler</description>
        <listener-class>edu.umiacs.ace.monitor.reporting.SchedulerContextListener</listener-class>
    </listener>
    <listener>
        <listener-class>edu.umiacs.ace.monitor.peers.PartnerSiteContextListener</listener-class>
    </listener>
    <listener>
        <description>srb file opening throttle</description>
        <listener-class>edu.umiacs.ace.driver.QueryThrottle</listener-class>
    </listener>
    <listener>
        <description>Initial ingestion configuration </description>
        <listener-class>edu.umiacs.ace.monitor.register.IngestContextListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>ServletAdaptor</servlet-name>
        <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
        <init-param>
            <param-name>jersey.config.server.provider.packages</param-name>
            <param-value>edu.umiacs.ace.rest</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>ManageCollection</servlet-name>
        <servlet-class>edu.umiacs.ace.monitor.core.ManageCollectionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveItem</servlet-name>
        <servlet-class>edu.umiacs.ace.monitor.core.RemoveItemServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Users</servlet-name>
        <servlet-class>edu.umiacs.ace.monitor.users.UsersServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Status</servlet-name>
        <servlet-class>edu.umiacs.ace.monitor.access.StatusServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StartSyncServlet</servlet-name>
        <servlet-class>edu.umiacs.ace.monitor.audit.StartSyncServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StopSyncServlet</servlet-name>
        <servlet-class>edu.umiacs.ace.monitor.audit.StopSyncServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogEvent</servlet-name>
        <servlet-class>edu.umiacs.ace.monitor.log.LogServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BrowseServlet</servlet-name>
        <servlet-class>edu.umiacs.ace.monitor.access.browse.BrowseServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReportServlet</servlet-name>
        <servlet-class>edu.umiacs.ace.monitor.access.CollectionSummaryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccessServlet</servlet-name>
        <servlet-class>edu.umiacs.ace.driver.RetrieveItemServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DownloadToken</servlet-name>
        <servlet-class>edu.umiacs.ace.monitor.core.DownloadTokenServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SummaryServlet</servlet-name>
        <servlet-class>edu.umiacs.ace.monitor.access.ListContentsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CompareServlet</servlet-name>
        <servlet-class>edu.umiacs.ace.monitor.compare.CompareServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowDuplicates</servlet-name>
        <servlet-class>edu.umiacs.ace.monitor.compare.ShowDupsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReportDuplicates</servlet-name>
        <servlet-class>edu.umiacs.ace.monitor.compare.DuplicateReportServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageFilters</servlet-name>
        <servlet-class>edu.umiacs.ace.driver.filter.FilterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewSummaryServlet</servlet-name>
        <servlet-class>edu.umiacs.ace.monitor.reporting.ViewReportSummaryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReportConfigurationServlet</servlet-name>
        <servlet-class>edu.umiacs.ace.monitor.reporting.ReportConfigurationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListItem</servlet-name>
        <servlet-class>edu.umiacs.ace.monitor.access.ListItemDetailsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PartnerSiteServlet</servlet-name>
        <servlet-class>edu.umiacs.ace.monitor.peers.PartnerSiteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagePeer</servlet-name>
        <servlet-class>edu.umiacs.ace.monitor.peers.ManagePeerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PauseServlet</servlet-name>
        <servlet-class>edu.umiacs.ace.monitor.audit.PauseServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClearResourceServlet</servlet-name>
        <servlet-class>edu.umiacs.ace.monitor.core.ClearResourceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IngestStore</servlet-name>
        <servlet-class>edu.umiacs.ace.monitor.register.IngestStore</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePassword</servlet-name>
        <servlet-class>edu.umiacs.ace.monitor.users.ChangePasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SettingsServlet</servlet-name>
        <servlet-class>edu.umiacs.ace.monitor.settings.SettingsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddSettingServlet</servlet-name>
        <servlet-class>edu.umiacs.ace.monitor.settings.AddSettingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteSettingsServlet</servlet-name>
        <servlet-class>edu.umiacs.ace.monitor.settings.DeleteSettingsServlet</servlet-class>
    </servlet>
        <servlet>
        <servlet-name>StatisticsServlet</servlet-name>
        <servlet-class>edu.umiacs.ace.stats.StatisticsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletAdaptor</servlet-name>
        <url-pattern>/rest/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>ManageCollection</servlet-name>
        <url-pattern>/ManageCollection</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveItem</servlet-name>
        <url-pattern>/RemoveItem</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Users</servlet-name>
        <url-pattern>/Users</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Status</servlet-name>
        <url-pattern>/Status</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StartSyncServlet</servlet-name>
        <url-pattern>/StartSync</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StopSyncServlet</servlet-name>
        <url-pattern>/StopSync</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogEvent</servlet-name>
        <url-pattern>/EventLog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BrowseServlet</servlet-name>
        <url-pattern>/Browse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReportServlet</servlet-name>
        <url-pattern>/Report</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccessServlet</servlet-name>
        <url-pattern>/Path/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DownloadToken</servlet-name>
        <url-pattern>/DownloadToken</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SummaryServlet</servlet-name>
        <url-pattern>/Summary</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CompareServlet</servlet-name>
        <url-pattern>/Compare</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowDuplicates</servlet-name>
        <url-pattern>/ShowDuplicates</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReportDuplicates</servlet-name>
        <url-pattern>/ReportDuplicates</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageFilters</servlet-name>
        <url-pattern>/ManageFilters</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewSummaryServlet</servlet-name>
        <url-pattern>/ViewSummary</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReportConfigurationServlet</servlet-name>
        <url-pattern>/ReportConfiguration</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListItem</servlet-name>
        <url-pattern>/ListItem</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PartnerSiteServlet</servlet-name>
        <url-pattern>/PartnerSite</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagePeer</servlet-name>
        <url-pattern>/ManagePeer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PauseServlet</servlet-name>
        <url-pattern>/Pause</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClearResourceServlet</servlet-name>
        <url-pattern>/ClearResource</url-pattern>
    </servlet-mapping>
    <!--<servlet-mapping>
        <servlet-name>IngestStore</servlet-name>
        <url-pattern>/IngestStore</url-pattern>
    </servlet-mapping>-->
    <servlet-mapping>
        <servlet-name>ChangePassword</servlet-name>
        <url-pattern>/ChangePassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IngestStore</servlet-name>
        <url-pattern>/Ingest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SettingsServlet</servlet-name>
        <url-pattern>/UpdateSettings</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddSettingServlet</servlet-name>
        <url-pattern>/AddSettings</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteSettingsServlet</servlet-name>
        <url-pattern>/DeleteSettings</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StatisticsServlet</servlet-name>
        <url-pattern>/Statistics</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <security-constraint>
        <display-name>User Management</display-name>
        <web-resource-collection>
            <web-resource-name>Admin functions</web-resource-name>
            <description/>
            <url-pattern>/Users</url-pattern>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
            <http-method>HEAD</http-method>
            <http-method>PUT</http-method>
            <http-method>OPTIONS</http-method>
            <http-method>TRACE</http-method>
            <http-method>DELETE</http-method>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>Users</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <display-name>Status</display-name>
        <web-resource-collection>
            <web-resource-name>Status</web-resource-name>
            <description/>
            <url-pattern>/Status</url-pattern>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
            <http-method>HEAD</http-method>
            <http-method>PUT</http-method>
            <http-method>OPTIONS</http-method>
            <http-method>TRACE</http-method>
            <http-method>DELETE</http-method>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>Status</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <display-name>Modify Collections</display-name>
        <web-resource-collection>
            <web-resource-name>Collections</web-resource-name>
            <description/>
            <url-pattern>/ManageCollection</url-pattern>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
            <http-method>HEAD</http-method>
            <http-method>PUT</http-method>
            <http-method>OPTIONS</http-method>
            <http-method>TRACE</http-method>
            <http-method>DELETE</http-method>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>filters</web-resource-name>
            <description/>
            <url-pattern>/ManageFilters</url-pattern>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
            <http-method>HEAD</http-method>
            <http-method>PUT</http-method>
            <http-method>OPTIONS</http-method>
            <http-method>TRACE</http-method>
            <http-method>DELETE</http-method>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>Peers</web-resource-name>
            <description/>
            <url-pattern>/ManagePeer</url-pattern>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
            <http-method>HEAD</http-method>
            <http-method>PUT</http-method>
            <http-method>OPTIONS</http-method>
            <http-method>TRACE</http-method>
            <http-method>DELETE</http-method>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>ClearResource</web-resource-name>
            <description/>
            <url-pattern>/ClearResource</url-pattern>
            <http-method>GET</http-method>
            <http-method>PUT</http-method>
            <http-method>HEAD</http-method>
            <http-method>POST</http-method>
            <http-method>OPTIONS</http-method>
            <http-method>TRACE</http-method>
            <http-method>DELETE</http-method>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>Collection Modify</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <display-name>Browse</display-name>
        <web-resource-collection>
            <web-resource-name>Browse</web-resource-name>
            <description/>
            <url-pattern>/Browse</url-pattern>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
            <http-method>HEAD</http-method>
            <http-method>PUT</http-method>
            <http-method>OPTIONS</http-method>
            <http-method>TRACE</http-method>
            <http-method>DELETE</http-method>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>ListItem</web-resource-name>
            <description/>
            <url-pattern>/ListItem</url-pattern>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
            <http-method>HEAD</http-method>
            <http-method>PUT</http-method>
            <http-method>OPTIONS</http-method>
            <http-method>TRACE</http-method>
            <http-method>DELETE</http-method>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>Browse</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <display-name>Log</display-name>
        <web-resource-collection>
            <web-resource-name>Log</web-resource-name>
            <description/>
            <url-pattern>/EventLog</url-pattern>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
            <http-method>HEAD</http-method>
            <http-method>PUT</http-method>
            <http-method>OPTIONS</http-method>
            <http-method>TRACE</http-method>
            <http-method>DELETE</http-method>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>Log</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <display-name>Audit</display-name>
        <web-resource-collection>
            <web-resource-name>Start</web-resource-name>
            <description/>
            <url-pattern>/StartSync</url-pattern>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
            <http-method>HEAD</http-method>
            <http-method>PUT</http-method>
            <http-method>OPTIONS</http-method>
            <http-method>TRACE</http-method>
            <http-method>DELETE</http-method>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>Stop</web-resource-name>
            <description/>
            <url-pattern>/StopSync</url-pattern>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
            <http-method>HEAD</http-method>
            <http-method>PUT</http-method>
            <http-method>OPTIONS</http-method>
            <http-method>TRACE</http-method>
            <http-method>DELETE</http-method>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>Pause</web-resource-name>
            <description/>
            <url-pattern>/Pause</url-pattern>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
            <http-method>HEAD</http-method>
            <http-method>PUT</http-method>
            <http-method>OPTIONS</http-method>
            <http-method>TRACE</http-method>
            <http-method>DELETE</http-method>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>Audit</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <display-name>Remove Item</display-name>
        <web-resource-collection>
            <web-resource-name>Remove</web-resource-name>
            <description/>
            <url-pattern>/RemoveItem</url-pattern>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
            <http-method>HEAD</http-method>
            <http-method>PUT</http-method>
            <http-method>OPTIONS</http-method>
            <http-method>TRACE</http-method>
            <http-method>DELETE</http-method>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>Remove Item</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <display-name>Report</display-name>
        <web-resource-collection>
            <web-resource-name>report</web-resource-name>
            <description/>
            <url-pattern>/Report</url-pattern>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
            <http-method>HEAD</http-method>
            <http-method>PUT</http-method>
            <http-method>OPTIONS</http-method>
            <http-method>TRACE</http-method>
            <http-method>DELETE</http-method>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>Report</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <display-name>Download Tokens</display-name>
        <web-resource-collection>
            <web-resource-name>download token</web-resource-name>
            <description/>
            <url-pattern>/DownloadToken</url-pattern>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
            <http-method>HEAD</http-method>
            <http-method>PUT</http-method>
            <http-method>OPTIONS</http-method>
            <http-method>TRACE</http-method>
            <http-method>DELETE</http-method>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>Download Token</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <display-name>Download Items</display-name>
        <web-resource-collection>
            <web-resource-name>AccessServlet</web-resource-name>
            <description/>
            <url-pattern>/Path</url-pattern>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
            <http-method>HEAD</http-method>
            <http-method>PUT</http-method>
            <http-method>OPTIONS</http-method>
            <http-method>TRACE</http-method>
            <http-method>DELETE</http-method>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>Download Item</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <display-name>Download Summary</display-name>
        <web-resource-collection>
            <web-resource-name>SummaryServlet</web-resource-name>
            <description/>
            <url-pattern>/Summary</url-pattern>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
            <http-method>HEAD</http-method>
            <http-method>PUT</http-method>
            <http-method>OPTIONS</http-method>
            <http-method>TRACE</http-method>
            <http-method>DELETE</http-method>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>Summary</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <display-name>Show Duplicates</display-name>
        <web-resource-collection>
            <web-resource-name>ShowDupsServlet</web-resource-name>
            <description/>
            <url-pattern>/ShowDuplicates</url-pattern>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
            <http-method>HEAD</http-method>
            <http-method>PUT</http-method>
            <http-method>OPTIONS</http-method>
            <http-method>TRACE</http-method>
            <http-method>DELETE</http-method>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>Show Duplicates</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <display-name>View Audit Summaries</display-name>
        <web-resource-collection>
            <web-resource-name>ViewSummaryServlet</web-resource-name>
            <description/>
            <url-pattern>/ViewSummary</url-pattern>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
            <http-method>HEAD</http-method>
            <http-method>PUT</http-method>
            <http-method>OPTIONS</http-method>
            <http-method>TRACE</http-method>
            <http-method>DELETE</http-method>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>View Audit Summaries</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <display-name>Modify Activity Reporting</display-name>
        <web-resource-collection>
            <web-resource-name>ReportConfigurationServlet</web-resource-name>
            <description/>
            <url-pattern>/ReportConfiguration</url-pattern>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
            <http-method>HEAD</http-method>
            <http-method>PUT</http-method>
            <http-method>OPTIONS</http-method>
            <http-method>TRACE</http-method>
            <http-method>DELETE</http-method>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>Modify Activity Reporting</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <display-name>Partner Site</display-name>
        <web-resource-collection>
            <web-resource-name>Partner Site</web-resource-name>
            <description/>
            <url-pattern>/PartnerSite</url-pattern>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
            <http-method>HEAD</http-method>
            <http-method>PUT</http-method>
            <http-method>OPTIONS</http-method>
            <http-method>TRACE</http-method>
            <http-method>DELETE</http-method>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>Modify Partner Sites</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <display-name>Compare</display-name>
        <web-resource-collection>
            <web-resource-name>Compare</web-resource-name>
            <description/>
            <url-pattern>/Compare</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>Compare</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <display-name>System Settings</display-name>
        <web-resource-collection>
            <web-resource-name>System</web-resource-name>
            <description/>
            <url-pattern>/UpdateSettings</url-pattern>
            <http-method>PUT</http-method>
            <http-method>HEAD</http-method>
            <http-method>POST</http-method>
            <http-method>OPTIONS</http-method>
            <http-method>TRACE</http-method>
            <http-method>DELETE</http-method>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>Add Setting</web-resource-name>
            <description/>
            <url-pattern>/addsetting.jsp</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>Modify System Settings</role-name>
        </auth-constraint>
    </security-constraint>

    <security-constraint>
        <display-name>Rest</display-name>
        <web-resource-collection>
            <web-resource-name>Rest Modify</web-resource-name>
            <description/>
            <url-pattern>/rest/collection</url-pattern>
            <url-pattern>/rest/collection/modify/*</url-pattern>
            <url-pattern>/rest/tokenstore/*</url-pattern>
            <url-pattern>/rest/settings/*</url-pattern>
            <http-method>POST</http-method>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>Collection Modify</role-name>
        </auth-constraint>
    </security-constraint>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Rest Browse</web-resource-name>
            <url-pattern>/rest/collection/settings/*</url-pattern>
            <url-pattern>/rest/settings/*</url-pattern>
            <http-method>GET</http-method>
        </web-resource-collection>
        <auth-constraint>
            <role-name>Browse</role-name>
        </auth-constraint>
    </security-constraint>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Rest Audit</web-resource-name>
            <url-pattern>/rest/collection/audit/*</url-pattern>
            <http-method>POST</http-method>
        </web-resource-collection>
        <auth-constraint>
            <role-name>Audit</role-name>
        </auth-constraint>
    </security-constraint>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Rest Status</web-resource-name>
            <url-pattern>/rest/groups</url-pattern>
            <url-pattern>/rest/collections/by-group/*</url-pattern>
            <http-method>GET</http-method>
        </web-resource-collection>
        <auth-constraint>
            <role-name>Status</role-name>
        </auth-constraint>
    </security-constraint>

    <login-config>
        <auth-method>BASIC</auth-method>
        <realm-name>Audit Manager</realm-name>
    </login-config>
    <security-role>
        <description/>
        <role-name>Browse</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>Collection Modify</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>Status</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>Log</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>Audit</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>Remove Item</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>Users</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>Report</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>Download Token</role-name>
    </security-role>
    <security-role>
        <description>Role used for AccessServlet</description>
        <role-name>Download Item</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>Summary</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>Compare</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>Show Duplicates</role-name>
    </security-role>
    <security-role>
        <description>View activity reports</description>
        <role-name>View Audit Summaries</role-name>
    </security-role>
    <security-role>
        <description>modify monthly activity reporting</description>
        <role-name>Modify Activity Reporting</role-name>
    </security-role>
    <security-role>
        <description>Add/edit/remove stuff in /PartnerSite</description>
        <role-name>Modify Partner Sites</role-name>
    </security-role> 
    <security-role>
        <description>Role used to modify system settings</description>
        <role-name>Modify System Settings</role-name>
    </security-role>
    </web-app>
